<% include ../partials/header %>

<div class="container">
    <div class="row">
        <% include ../partials/flash %>
        <div class="col-md-12">
            <h1>Edit Profile</h1>
            <hr>
        </div>
    </div>
    <form id="profile-edit" action="/users/<%= currentUser._id %>/profile?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="col-md-3">
            <div id="profile-detail">
                <div id="profile-avatar-edit">
                    <img id="image_upload_preview" class="img-circle profile-image" src="<%= currentUser.avatarUrl %>"
                        alt="your image" />
                    <div id="profile-avatar-edit-pencil">
                        <input id="profile-avatar" type="file" name="avatar" style="display: none">
                        <label for="profile-avatar"><i class="fas fa-pencil-alt"></i></label>
                    </div>
                </div>
            </div>
        </div>
        <div id="profile-edit-main" class="col-md-8">
            <div class="form-group">
                <label for="profile-username">Username</label>
                <input class="form-control" type="text" value="<%= currentUser.username %>" disabled>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input class="form-control" type="text" value="<%= currentUser.firstname %>" name="profile[firstname]">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" type="text" value="<%= currentUser.lastname %>" name="profile[lastname]">
                </div>
            </div>
            <div class="form-group">
                <label for="profile-email">Email</label>
                <input class="form-control" type="text" value="<%= currentUser.email %>" name="profile[email]">
            </div>
            <div class="form-group">
                <button class="btn btn-md btn-default">Save Changes</button>
                <a href="/users/<%= currentUser._id %>/profile" class="btn btn-md btn-danger">Cancel</a>
            </div>
        </div>
    </form>
    <div class="col-md-12">
        <hr>
    </div>
</div>

<% include ../partials/footer %>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image_upload_preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#profile-avatar").change(function () {
        readURL(this);
    });
</script>
